# THIS IS A TEMPLATE ENV VAR FILE
# Copy this file to .env.local and fill in your actual credentials!
# Do NOT put your real passwords in this file!

# DATABASE

# URL for connection to the database. In our case, we can simply use a local sqlite db. 
DATABASE_URL=postgresql://seu_usuario:sua_senha@seu_host.sa-east-1.aws.neon.tech/neondb?sslmode=require

# If you're using an external db that requires auth, here's a good place to store it as well.
# DATABASE_AUTH_SECRET=BlaBlaBla


# AUTHENTICATION

# A secret that is used for salting of generated hashes
BETTER_AUTH_SECRET=coloque-aqui-uma-string-bem-aleatoria-e-longa

# Base URL that the auth lib uses for operation. Should be the URL of deployment / localhost with right port
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
